body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
}

.columnas {
    display: flex;
    justify-content: space-between;
}

.columna {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 10px;
    flex: 1;
    margin: 0 10px;
}

h1, h2 {
    text-align: center;
}

input {
    width: calc(100% - 130px);
    padding: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}
#insider {
    display: flex;
    gap : 10px;
}